//	Tipografia

//	Variáveis

:root {
    //	cores - geral
    --color-1: #FFF;
    --color-2: #898CA9;
    --color-3: #B982FF;
    --color-4: #FF8282;
    --color-5: #1A1B23;

    //	fontes
    --font-1: "Inter", sans-serif;
}


//	Geral

input:focus {
    outline: solid 2px #7073ED;
    /* Remove o contorno padrão */
}

html {
    overflow-x: hidden;

    body {
        /* não remover daqui pra baixo */
        min-height: 100vh;
        overflow-x: hidden;
        /* não remover daqui pra cima */
    }


    .mobile-only {
        @media(min-width: 992px) {
            display: none !important;
        }
    }

    .desktop-only {
        @media(max-width: 991px) {
            display: none !important;
        }
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



// Container

.container {
    width: 100%;
    margin: 0 auto;
    /* Centraliza o container */
    padding: 0 15px;
    /* Adiciona espaçamento interno para o conteúdo */

    @media (min-width: 576px) {
        /* Extra pequeno (sm) */
        max-width: 540px;
    }

    @media (min-width: 768px) {
        /* Pequeno (md) */
        max-width: 720px;
    }

    @media (min-width: 992px) {
        /* Médio (lg) */
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        /* Grande (xl) */
        max-width: 1180px;
    }
}

// Header

.header-holder {
    margin-top: 40px;
    padding: 0px 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.profile-img {
    background: var(--gradient-main, linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%));
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    padding: 2px;

    img {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
    }
}

.description {
    h2 {
        font-family: var(--font-1);
        font-size: 36px;
        font-weight: 600;
        color: #fff;
        margin: 5px 0 7px;
        line-height: 1.2em;
        white-space:none ;
    }

    span {
        font-family: var(--font-1);
        font-size: 18px;
        font-weight: 300;
        color: #fff;
        margin: 5px 0;
        line-height: 1.2em;
        margin: 10px 0px 16px 0px;
        line-height: 1.2em;
        display: block;
    }

    .cv-download {
        padding: 15px 20px;
        color: var(--black-black-100, #FFF);
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        border-radius: 10px;
        //background: var(--gradient-main, linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%));
        background: var(--gradient-main, linear-gradient(326deg, #18C8FF 14.89%, #933FFE 85.85%));
        text-decoration: none;
        margin-top: 20px;
        display: block;
        transition: background-position 1s ease-in-out; 
        background-size: 200%; /* Define um tamanho maior para movimento suave */
        background-position: 0%; /* Posição inicial */
        &:hover{
            background-position: 100%;
        }
    }
    .social-midia{
        margin: 30px 0px 50px 0px;
        img{
            transition: all ease 0.3s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}